@model IndexNewsModel
@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-4" align="center">Welcome </h1>
@if (User.Identity.IsAuthenticated)
{
    <p>Authorize: @User.Identity.IsAuthenticated</p>
    <p>UserName: @User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Exit" />
    </form>
}
else
{
    <a class="btn btn-sm btn-primary" asp-controller="Account" asp-action="Login">Login</a>
    <br>
    <a class="btn btn-sm btn-primary" asp-controller="Account" asp-action="Register">Register</a>

}

@if (Model.News.Count() == 0)
{


    <h1>No news now</h1>
}


else
{

    <table class="table">
        <tr><th>Title</th><th>News</th><th></th></tr>
        @foreach (var news in Model.News)
        {

            <tr>
                <td>@news.Heading @news.Img</td>
                <td>@news.Content</td>
                <td>
                    <form asp-action="Delete" asp-controller="News" asp-route-id="@news.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-controller="#" asp-action="#" asp-route-id="@news.Id">Edite News</a>
                        <a class="btn btn-sm btn-primary" asp-controller="#" asp-action="#" asp-route-id="@news.Id">Add Comment </a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
   
}
<a class="btn btn-sm btn-primary" asp-controller="News" asp-action="AddNews">Add News</a>
<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


