@model IndexNewsModel
@{
    ViewData["Title"] = "Home Page";
}
@*<h1 class="display-4" align="center">Welcome </h1>*@


@if (Model.News.Count() == 0)
{


    <h1>No news now</h1>
}


else
{
    @foreach (var news in Model.News)
    {
        <div class="col s m6">
            <div class="card">
                <div class="card-image">
                    <img src="https://materializecss.com/images/sample-1.jpg">
                    <span class="card-title">@news.Heading</span>
                </div>
                <div class="card-content">
                    <p>@news.Content </p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <form asp-action="Delete" asp-controller="News" asp-route-id="@news.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-controller="#" asp-action="#" asp-route-id="@news.Id">Edite News</a>
                        <a class="btn btn-sm btn-primary" asp-controller="#" asp-action="#" asp-route-id="@news.Id">Add Comment </a>
                        <button type="submit" class="btn btn-sm btn-danger">Delete </button>
                    </form>
                </div>
            </div>
            @*<form asp-action="Delete" asp-controller="News" asp-route-id="@news.Id" method="post">
                <a class="btn btn-sm btn-primary" asp-controller="#" asp-action="#" asp-route-id="@news.Id">Edite News</a>
                <a class="btn btn-sm btn-primary" asp-controller="#" asp-action="#" asp-route-id="@news.Id">Add Comment </a>
                <button type="submit" class="btn btn-sm btn-danger">Delete </button>
            </form>*@
        </div>

     }  
}
<a class="btn btn-sm btn-primary" asp-controller="News" asp-action="AddNews">Add News</a>
<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


