@using TestNewsSite.Models
@model IEnumerable<New>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h3>List of News</h3>

@Html.ActionLink("Add New", "AddNew")
<table>
    <tr>
        <th>
            Heding
        </th>
    
    <th></th>
    </tr>
    @foreach (var item in Model)
    {
    
        <tr>
            <td>
                @Html.DisplayFor(i=>item.Heading)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditNew",new {id = item.Id})
                @Html.ActionLink("DetailsofNews", "DetailofNew",new {id = item.Id})
                @Html.ActionLink("Delete", "DeleteNew",new {id = item.Id})
            </td>
    
        </tr>
    }
    
</table>



